<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Template</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Admin/assets/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="~/Admin/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="~/Admin/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="~/Admin/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="~/Admin/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Admin/assets/js/Lightweight-Chart/cssCharts.css">
    @await RenderSectionAsync("Style", required: false)
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" href="index.html"><i class="large material-icons">track_changes</i> <strong>Admin Panel</strong></a>

                <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right">

                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>@User.Identity.Name</b> <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </nav>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
           
            <li>
                <a href="/Login/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>

        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="active-menu waves-effect waves-dark" href="/Admin/Home/Index"><i class="fa fa-dashboard"></i> Dashboard</a>
                        <a class="active-menu waves-effect waves-dark" href="/Admin/About/Index"><i class="fa fa-dashboard"></i> About</a>
                        <a class="active-menu waves-effect waves-dark" href="/Admin/Category/Index"><i class="fa fa-dashboard"></i> Category</a>
                        <a class="active-menu waves-effect waves-dark" href="/Admin/News/Index"><i class="fa fa-dashboard"></i> News</a>
                        <a class="active-menu waves-effect waves-dark" href="/Admin/Product/Index"><i class="fa fa-dashboard"></i> Product</a>
                        <a class="active-menu waves-effect waves-dark" href="/Admin/Slider/Index"><i class="fa fa-dashboard"></i> Slider</a>
                        <a class="active-menu waves-effect waves-dark" href="/Admin/User/Index"><i class="fa fa-dashboard"></i> User</a>
                    </li>

                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->

        <div id="page-wrapper">

            <div id="page-inner">
                @RenderBody()
            </div>

            <footer>
                <p>2022</p>


            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    


    <script src="~/Admin/assets/js/jquery-1.10.2.js"></script>
	
	<!-- Bootstrap Js -->
    <script src="~/Admin/assets/js/bootstrap.min.js"></script>
	
	<script src="~/Admin/assets/materialize/js/materialize.min.js"></script>
	
    <!-- Metis Menu Js -->
    <script src="~/Admin/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="~/Admin/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="~/Admin/assets/js/morris/morris.js"></script>
	
	
	<script src="~/Admin/assets/js/easypiechart.js"></script>
	<script src="~/Admin/assets/js/easypiechart-data.js"></script>
	
	 <script src="~/Admin/assets/js/Lightweight-Chart/jquery.chart.js"></script>
	<!-- DATA TABLE SCRIPTS -->
    <script src="~/Admin/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="~/Admin/assets/js/dataTables/dataTables.bootstrap.js"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
    <!-- Custom Js -->
    <script src="~/Admin/assets/js/custom-scripts.js"></script> 
    <script src="~/Common/js/library.js"></script>
    <script src="~/Common/js/sweetalert.min.js"></script>
    <script src="~/Common/js/validation.js"></script>

    @await RenderSectionAsync("Script", required: false)

</body>

</html>